[Desktop Entry]
Version=1.0
Name=EYE Text Editor
Name[fr]=Éditeur de texte EYE
Comment=Edit your source files
Comment[fr]=Éditer des fichiers sources
GenericName=Text Editor
Categories=TextEditor;Development;Qt;
Keywords=Text;Editor;
Icon=eye

Type=Application
Exec=eye --remote %F
Terminal=false
MimeType=text/plain;text/x-python;text/x-c++;
StartupWMClass=main.py.eye

